In [1]:
import pandas as pd

#reading data #

In [2]:
df=pd.read_csv('data.csv')
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProp
0  100.987384         0   67          1          -1              1
1   98.455057         1   32          0           0              1
2  102.045137         1   96          0          -1              1
3   99.632978         0   63          1           1              1
4  100.588335         1   62          1           1              1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2999 non-null   float64
 1   bodyPain       2999 non-null   int64
 2   age            2999 non-null   int64
 3   runnyNose      2999 non-null   int64
 4   diffBreath     2999 non-null   int64
 5   infectionProp  2999 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 140.7 KB

In [4]:
df['diffBreath'].value_counts()

-1    1019
 1    1009
 0     971
Name: diffBreath, dtype: int64

In [5]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProp
2994   98.622815         1   39          1           1              1
2995  103.704227         0   23          0           1              1
2996   98.167228         0  100          0           0              1
2997  100.536485         0   83          1           0              1
2998  100.498711         0   59          0           0              1

In [6]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProp
count,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000
mean,100.983027,0.509837,50.429476,0.522508,-0.003334,0.520507
std,1.739120,0.499987,28.681481,0.499576,0.822460,0.499663
min,98.002459,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.463372,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,100.967792,1.000000,50.000000,1.000000,0.000000,1.000000
75%,102.480651,1.000000,75.000000,1.000000,1.000000,1.000000
max,103.996859,1.000000,100.000000,1.000000,1.000000,1.000000

Train Test Spliting

In [7]:
import numpy as np

In [8]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data)*ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [9]:
np.random.permutation(7)

array([4, 2, 6, 0, 3, 1, 5])

In [10]:
train, test=data_split(df,0.2)

In [11]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProp
1103  102.002251         1   47          1          -1              1
1569   98.522674         1   41          1          -1              0
2229   98.170442         0   66          0          -1              0
2296  101.905913         0   51          0           0              0
1800   98.293198         0   84          1           0              1
...          ...       ...  ...        ...         ...            ...
1638  102.743655         1   80          0          -1              1
1095  101.762584         0   14          1          -1              0
1130   98.862811         0   10          1          -1              0
1294   98.968555         1   65          1          -1              1
860   100.696515         0   70          1          -1              0

[2400 rows x 6 columns]

In [12]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProp
1376  100.990937         1   66          1          -1              1
932   103.123894         1   15          0           0              1
144    99.250160         1    2          1          -1              1
1752  100.609077         0   48          0           1              1
51    100.668925         0   29          0           1              1
...          ...       ...  ...        ...         ...            ...
842   103.554920         1   32          1           0              1
637   103.584058         1   29          1           0              0
695   101.478397         0   16          1           1              0
226   100.006043         1    3          0          -1              0
2603  102.692109         0   73          1           0              1

[599 rows x 6 columns]

In [13]:
X_train=train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test=train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [14]:
Y_train=train[['infectionProp']].to_numpy().reshape(2400 ,)
Y_test=test[['infectionProp']].to_numpy().reshape(599 ,)

In [15]:
Y_train

array([1, 0, 0, ..., 0, 1, 0], dtype=int64)

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
clf=LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [18]:
inputFeature = [100,1,22,1,1]
infProb=clf.predict_proba([inputFeature])[0][1]

In [19]:
infProb

0.5379135656681212